source ~/.config/vim/base.vim
source ~/.config/vim/mappings.vim

" Turn off bells
set noerrorbells
" Search settings
set incsearch
set ignorecase
set smartcase
set visualbell
set noerrorbells

" Use Surround emulation
" set surround

" Split Navigation - https://thoughtbot.com/blog/vim-splits-move-faster-and-more-naturally
nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-L> <C-W>l
nnoremap <C-H> <C-W>h
nnoremap <C-Z> :action HideAllWindows<CR>
nnoremap <Leader><Leader> <C-W><C-W>

" Splits
nmap <Leader>ss :action MoveTabRight<CR>
nmap <Leader>sr :action MoveTabRight<CR>
nmap <Leader>sd :action MoveTabDown<CR>
nmap <Leader>sc :action MoveEditorToOppositeTabGroup<CR>

" IDE commands
nmap <Leader>ff :action GotoFile<CR>
nmap <Leader>fp :action FindInPath<CR>
nmap <Leader>fs :action Switcher<CR>
nmap <Leader>fr :action RecentFiles<CR>
nmap <Leader>fc :action RecentChangeFiles<CR>
nmap <Leader>fm :action GoFmtFileAction<CR>
nmap <Leader>d :action ReformatCode<CR>
nmap <Leader>pd :action ReformatWithPrettierAction<CR>
nmap <Leader>w :w<CR>

" Navigation
nmap <Leader>gf :action Forward<CR>
nmap <Leader>gb :action Back<CR>
nmap <Leader>t :action ActivateTerminalToolWindow<CR>
nmap <Leader>nn :action ActivateProjectToolWindow<CR>
nmap <Leader>se :action ShowSettings<CR>
nmap <Leader>b :action ToggleLineBreakpoint<CR>
nmap <Leader>r :action RenameElement<CR>
nmap <Leader>o :action OpenFile<CR>
nmap <Leader>a :action Annotate<CR>
nmap <Leader>c :action CommentByLineComment<CR>
nmap <Leader>x :action Run<CR>

" debugging not sure about these
" nmap <Leader>x :action ChooseRunConfiguration<CR>
" nmap <Leader>c :action Debug<CR>
" nmap <Leader>so :action Debug<CR>
" nmap <Leader>so :action Debug<CR>

set ideajoin
